@import "../../../scss/DAOVariable.scss";
@mixin button-basic($color, $bg-color, $btn-height: 42px) {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: max-content;
  height: $btn-height;
  background-color: $bg-color;
  font-weight: 400;
  color: $color;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border: 1px solid transparent;
  padding: 0rem 0.75rem;
  font-size: 0.9375rem;
  border-radius: 0.375rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-connection {
  @include button-basic($text-color-common, rgb(133, 54, 225));
  font-weight: 500;
  &:hover {
    background-color: rgb(163, 74, 245, 0.7);
    color: rgb(255, 255, 255, 0.7);
  }
}
.btn-common {
  @include button-basic($btn-bgcolor-green-text, $btn-bgcolor-common);
  &:hover {
    background-color: $btn-bgcolor-common-hover;
    color: $btn-bgcolor-green-text-hover;
  }
}
.btn-narrow {
  @include button-basic($btn-bgcolor-green-text, $btn-bgcolor-common, 24px);
  // padding: unset;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  &:hover {
    background-color: $btn-bgcolor-common-hover;
    color: $btn-bgcolor-green-text-hover;
  }
}
.btn-side {
  height: 40px;
  @include button-basic($btn-bgcolor-green-text, $btn-bgcolor-common);
  &:hover {
    background-color: $btn-bgcolor-common-hover;
    color: $btn-bgcolor-green-text-hover;
  }
}
@media (max-width: 768px) {
  .btn-side {
    margin: 0px;
  }
}
