@import "../../scss/DAOVariable.scss";
.dashboard-main {
  // position:fixed;
  top: $nav-header-height;
  background-color: $bg-color-layer1;
  display: grid;
  min-height: calc(100vh - $social-footer-height - $nav-header-height);
  font-family: "Roboto";
  & > .dashboard-body {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 20px;
    min-height: 100%;
    & > .dashboard-dao-group {
      display: grid;
      width: 50vw;
      padding-left: 200px;
      padding-top: 10px;
      padding-bottom: 10px;
      gap: 5px;
      grid-template-columns: 50px 1fr 50px;
      align-items: center;
      font-size: 18px;
      & > .select-memeberDAO {
        position: relative;
        display: flex;
        height: 42px;
        border-radius: 0.25em;
        overflow: hidden;
        font-family: "Roboto";
        border-radius: 8px;
        select {
          font-size: 20px;
          /* Reset Select */
          appearance: none;
          outline: 0;
          border: 0;
          box-shadow: none;
          /* Personalize */
          flex: 1;
          padding: 0 1em;
          color: #fff;
          background-color: $bg-color-layer2; //var(--darkgray);
          background-image: none;
          cursor: pointer;
        }
        /* Remove IE arrow */
        select::-ms-expand {
          display: none;
        }

        /* Arrow */
        &::after {
          display: flex;
          align-items: center;
          justify-items: center;
          content: "\25BC";
          position: absolute;
          top: 0;
          right: 0;
          padding: 0.7em;
          color: $bg-color-layer1;
          background-color: $bg-color-layer2; //rgb(45, 39, 34);
          transition: 0.25s all ease;
          pointer-events: none;
        }
        /* Transition */
        &:hover::after {
          color: rgb(21, 241, 149, 0.5);
        }
      }
    }
    & > .dashboard-content {
      display: grid;
      align-items: center;
      justify-items: center;
      text-align: center;
      height: 100%;
      & > .dashboard-content-center {
        display: grid;
        grid-template-rows: max-content 1fr;
        width: 50vw;
        height: 100%;
        gap: 20px;
        & > .dao-info-summary {
          font-family: "Roboto";
          display: grid;
          grid-template-rows: 1fr 2fr;
          border-radius: 10px;
          background-image: linear-gradient(
              rgba(30, 36, 35, 0.1),
              rgba(30, 36, 35, 0.1)
            ),
            url("../../img/background-images/GigaDAO5_NFT_Box_Platinum_032.jpg");
          background-size: cover;
          background-position: center;

          & > .dao-summary-title {
            display: grid;
            width: max-content;
            align-items: center;
            justify-items: left;
            font-size: 22px;
            padding-left: 20px;
            padding-top: 10px;
          }
          & > .dao-summary-content {
            display: grid;
            justify-content: center;
            grid-auto-flow: column;
            & > .each-dao-info {
              display: grid;
              grid-template-rows: repeat (2, 1fr);
              justify-content: center;
              align-items: center;
              padding: 10px;
              padding-top: 0px;
              & > .dao-summary-value {
                display: inline-block;
                justify-content: left;
                align-items: center;
                font-size: 20px;
              }
              & > .dao-summary-percent {
                display: grid;
                justify-items: left;
                align-items: center;
                color: $btn-bgcolor-common;
                font-size: 18px;
              }
            }
          }
        }
        & > .dao-staking-councillor {
          display: grid;
          grid-template-columns: 1.5fr 1fr;
          gap: 20px;
          height: 100%;
          padding-bottom: 30px;
          // height: max-content;
          & > .dao-staking {
            display: grid;
            font-size: 40px;
            font-weight: bold;
            justify-items: center;
            cursor: pointer;
            align-items: center;
            &:hover {
              background-image: linear-gradient(
                  rgba(30, 36, 35, 0.1),
                  rgba(30, 36, 35, 0.1)
                ),
                url("../../img/background-images/gigaDAO_bg.png");
              color: $text-color-common;
            }
            border-radius: 10px;
            background-image: linear-gradient(
                rgba(30, 36, 35, 0.3),
                rgba(30, 36, 35, 0.3)
              ),
              url("../../img/background-images/gigaDAO_bg.png");
            background-size: cover;
            background-position: center;
          }
          & > .dao-councillor {
            display: grid;
            box-sizing: border-box;
            border: 1px solid $btn-bgcolor-common;
            border-radius: 10px;
            height: 100%;
            grid-template-rows: max-content 1fr;
            font-family: "Roboto";
            & > .councillor-title {
              padding: 10px;
              background-color: $btn-bgcolor-common;
              height: min-content;
              color: black;
              border-top-left-radius: 7px;
              border-top-right-radius: 7px;
              font-size: map-get($map: $font-sizes, $key: "large");
              font-weight: bold;
              
            }
            & > .councillor-action-group {
              display: grid;
              grid-template-rows: repeat(6, 1fr);
              gap: 10px;
              padding: 10px;
              font-size: 20px;
              & > .councillor-action-proposal {
                display: grid;
                cursor: pointer;
                &:hover {
                  background-color: $bg-color-layer2-hover;
                  color: $text-color-common;
                }
                background-color: $bg-color-layer2;
                background-size: cover;
                background-position: center;
                color:$text-color-common-hover;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
  & > .dashboard-bottom {
    display: grid;
    padding: 10px;
    // height: min-content;
    background-color: $bg-color-layer2;
    justify-items: center;
    align-items: center;
    & > .bottom-social-group {
      display: grid;
      width: 20vw;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-flow: column;
      justify-content: space-around;
      gap: 10px;
      & > .social-icon {
        display: grid;
        align-items: center;
        justify-items: center;
        width: 42px;
        height: 42px;
        background-color: rgb(28, 77, 58);
        border-radius: 0.5rem;
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  .unit-color {
    display: inline;
    color: $unit-color;
  }
}
span.unit-color {
  color: $unit-color;
}

@media (max-width: 1204px) {
  .dashboard-main {
    grid-template-rows: 1fr min-content;
    & > .dashboard-body {
      display: grid;
      grid-template-rows: min-content, min-content;
      & > .dashboard-dao-group {
        display: grid;
        width: 60vw;
        padding-left: 50px;
        gap: 5px;
      }
      & > .dashboard-content {
        & > .dashboard-content-center {
          display: grid;
          width: 60vw;
          height: 100%;
          gap: 20px;
          & > .dao-info-summary {
            & > .dao-summary-title {
              font-size: 20px;
            }
            & > .dao-summary-content {
              
              & > .each-dao-info {
                & > .dao-summary-value {
                  font-size: 18px;
                }
                & > .dao-summary-percent {
                  font-size: 16px;
                }
              }
            }
          }
          & > .dao-staking-councillor {
            & > .dao-staking {
              font-size: 30px;
            }
            & > .dao-councillor {
              & > .councillor-title {
                font-size: 20px;
              }
              & > .councillor-action-group {
                font-size: 18px;
                & > .councillor-action-proposal {

                }
                & > .councillor-action-others {

                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .dashboard-main {
    grid-template-rows: min-content 1fr min-content;
    & > .top-nav-bar {
      grid-template-columns: unset;
      grid-template-rows: max-content, max-content;
      & > .top-log {
        padding-left: 20px;
        padding-top: 20px;
        text-align: left;
        & > img {
          width: 180px;
        }
      }
      & > .top-nav-right {
        padding-right: 20px;
        gap: 10px;
      }
    }
    & > .dashboard-body {
      display: grid;
      grid-template-rows: min-content, min-content;
      gap: 0px;
      & > .dashboard-dao-group {
        width: 90vw;
        padding-left: 50px;
        gap: 5px;
      }
      & > .dashboard-content {

        & > .dashboard-content-center {
          display: grid;
          grid-template-columns: unset;
          // grid-template-rows: 1fr 4fr;
          width: 80%;
          gap: 10px;
          & > .dao-info-summary {
            & > .dao-summary-title {
              font-size: 20px;
            }
            & > .dao-summary-content {
              display: grid;
              // grid-template-columns: repeat(4, 1fr);
              // grid-template-columns: repeat(auto-fill, minmax(min-content max-content));
              grid-auto-flow: column;
              & > .each-dao-info {
                & > .dao-summary-value {
                  font-size: 18px;
                }
                & > .dao-summary-percent {
                  font-size: 16px;
                }
              }
            }
          }
          & > .dao-staking-councillor {
            display: grid;
            grid-template-columns: unset;
            // grid-template-rows: max-content max-content;
            gap: 10px;
            height: 100%;
            & > .dao-staking {
              font-size: 24px;
              padding: 20px;
            }
            & > .dao-councillor {
              & > .councillor-title {
                font-size: 20px;
              }
              & > .councillor-action-group {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
