@import "../../scss/DAOVariable.scss";
.DAOSocial-container {
  background-color: $bg-color-layer2;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: min-content 1fr;
  & > .container-title {
    padding: 20px;
    font-size: 20px;
  }
  & > .container-body {
    display: grid;
    grid-template-columns: 1fr 20%;
    & > .social-content {
         
    }
    & > .social-save {
      display: flex;
      padding-bottom: 30px;
      align-items: flex-end;
      justify-content: center;
    }
  }
}
@media (max-width: 768px) {
  .DAOSocial-container {
    padding-bottom: 0px;
    & > .container-body {
      grid-template-columns: unset;
    }
    
  }
}