@import "../../scss/DAOVariable.scss";
.tokenstreamv2-main {
  background-color: $bg-color-layer1;
  // display: grid;
  min-height: calc(100vh - $social-footer-height - $nav-header-height);
  // grid-template-rows:1fr min-content;
  font-family: "Roboto";
  padding-bottom: 100px;

  & > .stream-title {
    font-size: 40px;
    padding: 40px;
    padding-left: 150px;
    height: min-content;
  }
  & > .stream-content {
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    height: 100%;
    & > .stream-content-center {
      display: grid;
      // grid-template-rows: max-content 1fr;
      width: 70vw;
      height: 100%;
      gap: 20px;
      & > .stream-info-summary {
        font-family: "Roboto";
        display: grid;
        border-radius: 10px;
        height: 120px;
        background-image: linear-gradient(
            rgba(30, 36, 35, 0.1),
            rgba(30, 36, 35, 0.1)
          ),
          url("../../img/background-images/GigaDAO5_NFT_Box_Platinum_032.jpg");
        background-size: cover;
        background-position: center;

        & > .stream-summary-content {
          display: grid;
          // justify-content: center;
          grid-auto-flow: column;
          padding: 20px;
          & > .each-dao-info {
            display: grid;
            grid-template-rows: repeat (3, 1fr);
            justify-content: center;
            align-items: center;
            padding: 10px;
            padding-top: 0px;
            & > .stream-item {
              display: inline-block;
              // justify-content: left;
              // align-items: center;
              text-align: left;
              font-size: 22px;
            }
            & > .dao-summary-value {
              display: inline-block;
              // justify-content: left;
              // align-items: center;
              text-align: left;
              font-size: 20px;
            }
            & > .dao-summary-percent {
              display: grid;
              // justify-items: left;
              // align-items: center;
              text-align: left;
              color: $btn-bgcolor-common;
              font-size: 18px;
            }
          }
        }
      }
      & > .card-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        height:460px;
        overflow: auto;
      }
    }
  }

  .unit-color {
    display: inline;
    color: $unit-color;
  }
}
span.unit-color {
  color: $unit-color;
}

@media (max-width: 1204px) {
  .dashboard-main {
    grid-template-rows: 1fr min-content;
    // & > .top-nav-bar {
    //   display: grid;
    //   grid-template-columns: 1fr 1fr;
    //   & > .top-log {
    //     padding-left: 20px;
    //     padding-top: 20px;
    //     text-align: left;
    //     & > img {
    //       width: 180px;
    //     }
    //   }
    //   & > .top-nav-right {
    //     padding-right: 20px;
    //     gap: 10px;
    //   }
    // }
    & > .dashboard-body {
      display: grid;
      grid-template-rows: min-content, min-content;
      & > .dashboard-dao-group {
        display: grid;
        width: 60vw;
        padding-left: 50px;
        gap: 5px;
      }
      & > .dashboard-content {
        & > .dashboard-content-center {
          display: grid;
          width: 60vw;
          height: 100%;
          gap: 20px;
          & > .dao-info-summary {
            & > .dao-summary-title {
              font-size: 20px;
            }
            & > .dao-summary-content {
              & > .each-dao-info {
                & > .dao-summary-value {
                  font-size: 18px;
                }
                & > .dao-summary-percent {
                  font-size: 16px;
                }
              }
            }
          }
          & > .dao-staking-councillor {
            & > .dao-staking {
              font-size: 30px;
            }
            & > .dao-councillor {
              & > .councillor-title {
                font-size: 20px;
              }
              & > .councillor-action-group {
                font-size: 18px;
                & > .councillor-action-proposal {
                }
                & > .councillor-action-others {
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .dashboard-main {
    grid-template-rows: min-content 1fr min-content;
    & > .top-nav-bar {
      grid-template-columns: unset;
      grid-template-rows: max-content, max-content;
      & > .top-log {
        padding-left: 20px;
        padding-top: 20px;
        text-align: left;
        & > img {
          width: 180px;
        }
      }
      & > .top-nav-right {
        padding-right: 20px;
        gap: 10px;
      }
    }
    & > .dashboard-body {
      display: grid;
      grid-template-rows: min-content, min-content;
      gap: 0px;
      & > .dashboard-dao-group {
        width: 90vw;
        padding-left: 50px;
        gap: 5px;
      }
      & > .dashboard-content {
        & > .dashboard-content-center {
          display: grid;
          grid-template-columns: unset;
          // grid-template-rows: 1fr 4fr;
          width: 80%;
          gap: 10px;
          & > .dao-info-summary {
            & > .dao-summary-title {
              font-size: 20px;
            }
            & > .dao-summary-content {
              display: grid;
              // grid-template-columns: repeat(4, 1fr);
              // grid-template-columns: repeat(auto-fill, minmax(min-content max-content));
              grid-auto-flow: column;
              & > .each-dao-info {
                & > .dao-summary-value {
                  font-size: 18px;
                }
                & > .dao-summary-percent {
                  font-size: 16px;
                }
              }
            }
          }
          & > .dao-staking-councillor {
            display: grid;
            grid-template-columns: unset;
            // grid-template-rows: max-content max-content;
            gap: 10px;
            height: 100%;
            & > .dao-staking {
              font-size: 24px;
              padding: 20px;
            }
            & > .dao-councillor {
              & > .councillor-title {
                font-size: 20px;
              }
              & > .councillor-action-group {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
