@import "../../scss/DAOVariable.scss";
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
  
  & > .modal-main {
    border-radius: 1rem;
    width: 60%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background-color: $bg-color-layer1;
    color: $text-color-common;
    display: grid;
    grid-template-rows: min-content 1fr;
    & > .back-dashboard {
      padding:5px 5px 10px 5px;
      width: max-content;
      display: grid;
      color: #fff;
      font-size: 18px;
      text-align: left;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: #aaa;

      }
    }
  }
}
@media (max-width: 768px) {
  .modal-window {
    & > .modal-main {
      width: 100%;
      height: max-content;
    }
  }

}