@import "../../../scss/DAOVariable.scss";
.item-wrapper {
  margin: 5px;
  display: grid;
  grid-template-columns: 200px 1fr;
  // align-items: center;
  gap: 15px;
  &.plus-button {
    display: grid;
    grid-template-columns: 200px 1fr min-content;
  }
  & > .title {
    display: grid;
    text-align: right;
    color: $text-color-common; // #1dd79b;
    font-size: 18px;
    align-items: center;
  }
  & > .input-side-btn {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: grid;

    background-image: linear-gradient(
      to bottom right,
      var(--tw-gradient-stops)
    );
    background-color: $bg-color-layer1;
    padding: 5px;
    border-radius: 0.5rem;
    color: white;
    & > img {
      width: 20px;
      height: 20px;
    }
    &:hover {
      visibility: show;
      background-color: $bg-color-layer1-hover;
    }
  }
  & > input {
    width: 100%;
    border: none;
    padding: 0.5rem;
    background-color: $bg-color-layer1;
    border-radius: 8px;
    color: $text-color-common;
    font-size: 16px;

    &:focus,
    hover {
      background-color: rgb(25, 30, 30);
    }
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input.num {
    width: 4rem;
  }
  input:focus {
    outline: none !important;
  }
  .input-title {
    text-align: right;
    color: $text-color-common;
  }
  .input-checkbox {
    text-align: left;
    float: left;
  }
  .input-select {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .add-stream {
    color: $text-color-common;
    &:hover {
      cursor: pointer;
    }
  }
  .plus-button {
    margin-left: 40%;
  }
  & > .show-collections {
    padding: 0.2rem;
    border-radius: 10px;
    overflow: auto;
    height: 10rem;
    background-color: rgb(22, 27, 25);

    & > .item {
      vertical-align: top;
    }
  }
  & > .title-top {
    display: grid;
    justify-content: right;
  }
  & > .show-item {
    display:grid;
    width: 100%;
    padding: 0.7rem;
    // padding: 12px;
    border-radius: 10px;
    background-color: rgb(22, 27, 25);
    overflow: auto;
  }
  & > .show_num {
    display: grid;
    grid-template-columns: 200px 50px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-color-layer1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 1270px) {
  .item-wrapper {
    grid-template-columns: unset;
    grid-template-columns: 150px 1fr;
    & > .title {
      font-size: 16px;
    }
    & > .show-item {
      
      padding: 0.7rem;
      // padding: 12px;
      border-radius: 10px;
      background-color: rgb(22, 27, 25);
      overflow: auto;
    }
  }
}
@media (max-width: 768px) {
  .item-wrapper {
    grid-template-columns: unset;
    grid-template-columns: 150px 1fr;
    justify-items: left;
    padding: 5px;
    margin: 0px;
    gap: 3px;

    & > .title {
      font-size: 14px;
    }
    &.plus-button {
      display: grid;
      grid-template-columns: unset;
      // grid-template-rows: 1fr 1fr 1fr;
    }
    & > .show-collections {
      height: 5rem;
      width: 100%;
      overflow: auto;
    }
    // & > .show_num {
    //   display: grid;
    //   grid-template-columns: unset;
    // }
    input.num {
      width: 100%;
    }
  }
}
