$iconbtn-bgcolor-fill: #15f195;
$iconbtn-bgcolor-fill-hover: #1af2a5;
$iconbtn-bgcolor-unfill: #1e2423;
$iconbtn-bgcolor-unfill-social: rgb(45, 47, 48);
$iconbtn-bgcolor-unfill-hover: #2e3334;

$bg-color-layer1: #161b19; //rgb(22, 27, 25)
$bg-color-layer1-hover: rgb(22, 27, 25, 0.7);
$bg-color-layer2: #1e2423; //rgb(30, 36, 35) same
$bg-color-layer2-hover: rgb(35, 38, 39);

$btn-bgcolor-common: #14f195;
$btn-bgcolor-common-hover: rgb(20, 241, 149, 0.7);
$btn-bgcolor-green-text: #161b19;
$btn-bgcolor-green-text-hover: rgb(22, 27, 25, 0.7);
$text-color-common: #ffffff;
$text-color-common-hover: rgb(255, 255, 255, 0.7);

$select-arrow-color: rgb(21, 241, 149);
$select-arrow-bg-color: rgb(65, 46, 46);
$font-sizes: (
  "small": 12px,
  "normal": 18px,
  "large": 24px,
);
$unit-color: #aaaaaa;
$card-border-color: #111111;
$card-border-hover-color: #fafafa;
$social-footer-height: 62px;
$nav-header-height: 75px;
$nav-header-height-mobile: 110px;
