@import "../../scss/DAOVariable.scss";
.new-stream {
  display: grid;
  grid-template-rows: min-content 1fr;
  // & > .stream-pool-tabs {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr;
  //   & > .tab-title {
  //     font-size: 18px;
  //     height: 2.5rem;
  //     background-color: $bg-color-layer2-hover;
  //     color: $text-color-common-hover;
  //     border-top-left-radius: 0.5rem;
  //     border-top-right-radius: 0.5rem;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     cursor: pointer;
  //     &:hover,
  //     &.active {
  //       background-color: $bg-color-layer2;
  //       color: $text-color-common;
  //     }
  //   }
  // }
  .content-title {
    padding: 20px;
    padding-left: 30px;
    font-size: 20px;
  }
  & > .stream-pool-content {
    background-color: $bg-color-layer2;
    display: grid;
    grid-template-columns: 1fr 20%;
    border-radius: 10px;
 
    & > .stream-content {
      // display: grid;
    }
    & > .stream-initial-btn {
      display: flex;
      padding-bottom: 30px;
      align-items: flex-end;
      justify-content: center;
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-color-layer1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
@media (max-width: 768px) {
  .new-stream {
    & > .stream-pool-content {
      grid-template-columns: unset;
      & > .stream-initial-btn {
        padding-top: 10px;
      }
    }
    .content-title {
      padding: 5px;
      padding-left: 30px;
      font-size: 18px;
    }
    .table-container {
      font-size: 14px;
    }
  }
}
