@import "../../scss/DAOVariable.scss";
.new-stream {
  display: grid;
  grid-template-rows: min-content 1fr;
  .content-title {
    padding: 20px;
    padding-left: 30px;
    font-size: 20px;
  }
  & > .stream-pool-content {
    background-color: $bg-color-layer2;
    display: grid;
    grid-template-columns: 1fr 20%;
    border-radius: 10px;
 
    & > .stream-content {
      // display: grid;
    }
    & > .stream-initial-btn {
      display: flex;
      padding-bottom: 30px;
      align-items: flex-end;
      justify-content: center;
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-color-layer1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
@media (max-width: 768px) {
  .new-stream {
    & > .stream-pool-content {
      grid-template-columns: unset;
      & > .stream-initial-btn {
        padding-top: 10px;
      }
    }
    .content-title {
      padding: 5px;
      padding-left: 30px;
      font-size: 18px;
    }
    .table-container {
      font-size: 14px;
    }
  }
}
